body {
    margin: 0;
    padding: 0; 
    text-align: center;
    /* background-color: #252525; */
    /* background-color: rgb(71, 71, 71); */
    color:white;

    /* background image */
    background-image: url("https://media.discordapp.net/attachments/886921877417762866/1050006212462256148/pp.jpg?width=1180&height=664");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background-image: url("https://cdn.discordapp.com/attachments/886921877417762866/1050007317611024445/hier.jpg");
    border-bottom: 10px solid linear-gradient(90deg, rgb(1, 0, 26) 0%, rgb(8, 8, 109) 0%, rgb(1, 183, 220) 100%);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

nav img {
    height: 50px;
    border-radius: 15px;
}

nav li a:hover {
    color: rgb(90, 191, 219);
    text-shadow: rgb(0, 81, 104) 0px 0px 3px;
}

nav li a:visited {
    color: rgb(204, 137, 229);
}

nav li a:visited:hover {
    color: rgb(224, 135, 168);
    text-shadow: rgb(108, 61, 103) 0px 0px 3px;
}

nav li a {
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 

.right {
    float: right;
    background-color: rgb(9, 32, 178);
    border-radius: 10px;
    margin-right: 15px;
}

.right:hover {
    float: right;
    background-color: rgb(25, 25, 25);
    border-radius: 10px;
}

.nav-button {
    margin-top: 15px;
}

/* css for the profile cards */
.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 350px;
    height: 500px
}

.profile-card:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

.profile-card img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid rgb(18, 64, 144);
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.profile-card h1 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 400;
}

.profile-card h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 300;
}

.profile-card h4 {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 300;
}

.profile-card p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 300;
}

.profile-card a {
    color: #fff;
    text-decoration: none;
}

.profile-card a:hover {
    color: #fff;
    text-decoration: underline;
}

.profile-card a:visited {
    color: #fff;
    text-decoration: none;
}

.profile-card a:visited:hover {
    color: #fff;
    text-decoration: underline;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.profile-card img:hover {
    animation: spin 1s linear infinite;
    border-color: rgb(6, 158, 200);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: rgb(6, 158, 200);
    text-shadow: rgb(0, 81, 104) 0px 0px 3px;
}

.website-content {
    margin-top: 5.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 10px;
}