<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developers | MonE PVP</title>
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/886921877417762866/1046775559511879770/M_o_n_E_up_down.jpg" type="image/x-icon">

    <meta property="og:title" content="Developers | MonE PVP">
    <meta property="og:description" content="MonE PVP's developers">
    <meta property="og:image" content="https://images-ext-1.discordapp.net/external/A0_obtkPYKOPQjaQDo2bJ2KD0Ogg5e7NLMHp3W4YgTQ/https/tr.rbxcdn.com/c85d58d9764b0e09098611a73a9daeb1/500/280/Image/Jpeg">
    <meta property="og:url" content="https://www.roblox.com/games/8661444615/MonE-PVP">
    <meta property="og:site_name" content="MonE PVP">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="##00FFFF">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <div class="nav-links">
                <ul>
                    <li><a href="/"><img src="https://images-ext-1.discordapp.net/external/A0_obtkPYKOPQjaQDo2bJ2KD0Ogg5e7NLMHp3W4YgTQ/https/tr.rbxcdn.com/c85d58d9764b0e09098611a73a9daeb1/500/280/Image/Jpeg" alt="Logo"></a></li>
                    <li class="nav-button"><a href="/#info">How to play</a></li>
                    <li class="nav-button"><a href="/discord">Discord</a></li>
                    <li class="nav-button"><a href="/#tips">Tips & Tricks</a></li>
                    <li class="nav-button"><a href="/developers">Developers</a></li>
                    <li class="nav-button"><a href="/#contact">Contact</a></li>
                    <li class="nav-button right"><a href="https://www.roblox.com/games/8661444615/MonE-PVP" target="_blank">Play</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="profiles" style="margin-top: 5.5rem;">
        <div class="profile-card">
            <div class="profile-card-image">
                <img src="https://cdn.discordapp.com/avatars/271285474516140033/6f773ebd86a348c0cdb8be32bf44985e.webp?size=160" alt="Profile Picture">
            </div>
            <div class="profile-card-info">
                <h1>Commander R</h1>
                <h3>Maker of the website</h3>
                <p></p>
            </div>
        </div>

        <div class="profile-card">
            <div class="profile-card-image">
                <img src="https://cdn.discordapp.com/avatars/710853310361370624/0382c99a58a88e3a92085daecc1ab82b.webp?size=160" alt="Profile Picture">
            </div>
            <div class="profile-card-info">
                <h1>Spexe</h1>
                <h3>Maker of the game</h3>
                <p></p>
            </div>
        </div>

        <div class="profile-card">
            <div class="profile-card-image">
                <img src="https://cdn.discordapp.com/avatars/459252483902930955/9833c67d879af5d91c42458e9ceac8df.webp?size=160" alt="Profile Picture">
            </div>
            <div class="profile-card-info">
                <h1>martinwascool/Herlocaldilf</h1>
                <h3>Maker of the text on the website & discord server</h3>
                <p></p>
            </div>
        </div>
    </main>
</body>
</html>