<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonE PVP</title>
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/886921877417762866/1046775559511879770/M_o_n_E_up_down.jpg" type="image/x-icon">

    <meta property="og:title" content="MonE PVP">
    <meta property="og:description" content="MonE PVP is a roblox game where you can play with your friends and have fun!">
    <meta property="og:image" content="https://images-ext-1.discordapp.net/external/A0_obtkPYKOPQjaQDo2bJ2KD0Ogg5e7NLMHp3W4YgTQ/https/tr.rbxcdn.com/c85d58d9764b0e09098611a73a9daeb1/500/280/Image/Jpeg">
    <meta property="og:url" content="https://www.roblox.com/games/8661444615/MonE-PVP">
    <meta property="og:site_name" content="MonE PVP">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="##00FFFF">

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <div class="nav-container">
            <div class="nav-links">
                <ul>
                    <li><a href="/"><img src="https://images-ext-1.discordapp.net/external/A0_obtkPYKOPQjaQDo2bJ2KD0Ogg5e7NLMHp3W4YgTQ/https/tr.rbxcdn.com/c85d58d9764b0e09098611a73a9daeb1/500/280/Image/Jpeg" alt="Logo"></a></li>
                    <li class="nav-button"><a href="/#info">How to play</a></li>
                    <li class="nav-button"><a href="/discord">Discord</a></li>
                    <li class="nav-button"><a href="/#tips">Tips & Tricks</a></li>
                    <li class="nav-button"><a href="/developers">Developers</a></li>
                    <li class="nav-button"><a href="/#contact">Contact</a></li>
                    <li class="nav-button right"><a href="https://www.roblox.com/games/8661444615/MonE-PVP" target="_blank">Play</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="website-content">
        <main>
            <div class="main-container">
                <div class="main-content">
                    <h1>MonE PVP</h1>
                    <p>MonE PVP is a roblox game where you can play with your friends and have fun!</p>
                    <a href="https://www.roblox.com/games/8661444615/MonE-PVP" class="play-button center" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/4028/4028535.png" alt="play" style="border-radius: 100%; height: 50px"></a>
                </div>
            </div>
        </main>
        <div id="info">
            <h1>How to play</h1>
            <p>shoot your enemies and defend the point</p>
        </div>
        <div id="tips">
            <h1>Tips & Tricks</h1>
            <p>
                * Hide behind the pillars for good cover<br>
                * Try not to fall off the green floating tiles<br>
                * Try to kill every enemy standing in your way<br>
            </p>
        </div>
        <div id="contact">
            <h1>Contact</h1>
            <a href="https://discord.com/users/710853310361370624">SpeXe#8782</a>  on discord <br>
            <a href="https://discord.com/users/459252483902930955">martinwascool/Herlocaldilf#1686</a> on discord <br>
            <a href="https://discord.com/users/271285474516140033">Commander R#9371</a> on discord <br>
            <a href="/discord">or join the discord server to get in contact with all 3 of us</a>
        </div>
    </div>
</body>
</html>